
# one of [ MONGO_DB, FIREBASE ]
DATABASE_TYPE=

# for MONGO_DB
DATABASE_HOST=
DATABASE_PORT=
MONGO_DATABASE_NAME=
MONGO_COLLECTION_NAME=
MONGO_USER=
MONGO_PASS=


# for FIREBASE
FIREBASE_CREDENTIALS_PATH=
FIREBASE_COLLECTION_NAME=


# FLASK env
FLASK_APP=
FLASK_RUN_HOST=
FLASK_RUN_PORT=