
# one of [ MONGO_DB, FIREBASE ]
DATABASE_TYPE=

# for MONGO_DB
DATABASE_HOST=
DATABASE_PORT=
MONGO_DATABASE_NAME=
MONGO_COLLECTION_NAME=

# for FIREBASE
FIREBASE_COLLECTION_NAME=
FIREBASE_CREDENTIALS_PATH=


# FLASK env
FLASK_APP=
FLASK_RUN_HOST=
FLASK_RUN_PORT=